.results > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .results {
        padding: 7rem 2rem 2rem 1rem;
        width: 80%;
        margin: 0 auto;
    }
}